/**base styles**/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;  
}
    
h1 {
  text-align: center;
  margin: 50px;
}

p {
  position: relative;
  clear: right;
  
}
  
body {
   font-family: Helvetica, Arial, san-sarifs;
}

section {
  position: relative;
  float: right;
  width: 100%
  border: 3px solid black;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.section-title {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 35%;
  height: 40px;
  font-size: 100%;
}

#title-one {
  background-color: #FFC0CB;
}

#title-two {
  background-color: #0080FF
}

#title-three {
  background-color: #964B00
}

.content {
  color: black;
  padding: 50px 10px;
  overflow: auto;
}

.container {
  position: relative;
  padding: 15px;
  width: 100%;

.row {
  width: 100%;
}


/********** Large Devices Only **********/
@media (min-width: 992px) { 
 .col-lg-4 {
  float: left;
  width: 33.33%;  
 }
}

/********** Medium Devices Only ********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
   float: left;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
  }
  .col-md-12 {
   Display: block;
   clear: both;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
 }
} 

 /******** Smaller Devices Only *******/
  @media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100% 
   }
}
  

 
