body {
  font-size: 14px;
  background-color: #301934;
  font-family: 'Oxygen', sans-serif;
}

.navbar {
  background-color: #ADD8E6
  border-radius: 0;
  border: 1px;
}

.navbar-light .navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #FFA500;
  font-size: 175%;
  text-transform: Uppercase;
  font-weight: Bold;
  text-shadow: 1px 1px #000000
  margin-top: 15px
  margin-bottom:15px
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
