....,//**Basic Styling**//
* {
  box-sizing: border-box;
}
'
body {
  font-size: 14px;
  background-color: #301934;
  font-family: 'Oxygen', sans-serif;
}

P {
  text-align: justify;
}

Section {
  position: relative;
  padding: 20px 10px 10px 10px
  width: 100%
  border: 2px solid black;
  background-color: gray;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  color: #ffff;
  font-size: 2em;
  font-family: Sans-serif;
  font-weight: bold;
  margin-top: 15px;
}

h2 {
  text-align: center;
  color: black;
  padding: 15px;
}

.content {
  color: black; 
  text-align: justify;
  padding: 50px 10px;
  overflow: auto;
}

Div.container {
  position: relative;
  padding: 15px;
  width: 100%;
  margin: 20px

.row {
  width: 100%;
}

 #navbar {
   background: grey;
   border-radius: 0;
   border: 1px;
 }

.navbar-brand h1 {
  font-family: 'Lora', serif;
  float: left;
  color: #FFA500;
  font-size: 175%;
  text-transform: Uppercase;
  font-weight: Bold;
  text-shadow: 1px 1px #000000;
  margin-bottom:30px;
  line-height: .75;
}




.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

//** Desktop View Only **//


//** Tablet View Only **//

//** Mobile View ONly **//
